#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

.vagrant
roles/external
test.pem
set-aws-access-keys.sh
ec2-provisioning.retry
terraform/secrets.auto.tfvars
terraform/*.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
site.retry
